<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <!--监听端口-->
    <add key="Port" value="2551"/>
    <!--是否开启Remoting服务，Remoting服务的端口为上面的【监听端口】+2-->
    <add key="RemotingServiceEnabled" value="true"/>
    <!--主窗体的标题-->
    <add key="Title" value="升级中心"/>
  </appSettings>
</configuration>